// OVERLAY STUDENT ENROLLED LIST
#studentEnrolled.overlay-black.overlay
  .overlay-black-box
    a.closeOverlay(href="#") 
      span(class="glyphicon glyphicon-remove-circle")
      span Close
    table.table
      thead
        th Student ID
        th Student Name
        th Enrolled Date
        th 
      tbody
// /OVERLAY STUDENT ENROLLED LIST