// COURSE LIST
#courseList.listPanel

  .filter
    .actionBar
      a#addCourse(href="#", class="overlayLink", data-overlay="courseAdd")
        span(class="glyphicon glyphicon-plus")
        span Add Course
    .filterBlock
      span Year:
      span
        select.form-control(id="course-year")
          option(value="all", selected="selected") All
          option(value="2016") 2016
          option(value="2017") 2017
          option(value="2018") 2018
          option(value="2019") 2019
          option(value="2020") 2020
    .filterBlock
      //span Department:
      //span
      //  select.form-control.deptlistselect#course-dept
      
      .dropdown
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Department
          span.caret
        ul.dropdown-menu.deptlistdropdown#course-dept-multi
      span.form-group
        
        button#course-filter-trigger.btn.btn-default(type="button") Apply 
  table.table
    thead
      th ID
      th Course
      th Level
      th Department
      th
      th
      th
      th Year
      th Enrolled
      th Vancancy
      th(colspan="3")
    tbody
// /COURSE LIST