// DEPT LIST
#deptList.listPanel
  .filter
    .actionBar
      a#addDept(href="#")
        span(class="glyphicon glyphicon-plus")
        span Add Department
  table.table
    thead
      th Department ID
      th Department
      th Loaction
      th No. of Courses
      th(colspan="3")
    tbody
// /DEPT LIST