// DEPT LIST
#deptList.listPanel
  .filter
    .actionBar
      a#addDept(href="#", class="overlayLink", data-overlay="deptAdd")
        span(class="glyphicon glyphicon-plus")
        span Add Department
  table.table
    thead
      th Department ID
      th Department
      th Loaction
      th No. of Courses
      th(colspan="2")
    tbody
// /DEPT LIST