extends layout

block content
  include topHeader.jade
  .container
    // Wrapper
    #wrapper
      include indexTab.jade 
      include courseList.jade 
      include studentList.jade
      include deptList.jade
    // /WRAPPER
  include courseEnrolledStudent.jade
  include courseSelectStudent.jade
  include courseADD.jade
  include courseEdit.jade
  include courseAddOffer.jade
  include courseEditOffer.jade
  include studentAdd.jade
  include studentEdit.jade
  .footer
    .container
      span &copy 2018 
      span Developed by 
      strong IS G4-2
      span , 
      span.glyphicon.glyphicon-user   
      span LEUNG Sheung Pan,
      span.glyphicon.glyphicon-user 
      span ON Sin Yu, 
      span.glyphicon.glyphicon-user 
      span YAM Sze Chung