extends layout

block content
  .container
    h1= title
    // Wrapper
    #wrapper
      ul(class="nav nav-tabs list-tabs")
        li(role="presentation" class="active")
          a#show-course-list(href="#", data-list-id="courseList") Course List
        li(role="presentation")
          a#show-student-list(href="#", data-list-id="studentList") Student List
        li(role="presentation")
          a#show-dept-list(href="#", data-list-id="deptList") Department List

      // COURSE LIST
      #courseList.listPanel

        .filter
          .actionBar
            a#addCourse(href="#", class="overlayLink", data-overlay="courseAdd")
              span(class="glyphicon glyphicon-plus")
              span Add Course
          .filterBlock
            span Year:
            span
              select.form-control(id="course-year")
                option(value="all", selected="selected") All
                option(value="2016") 2016
                option(value="2017") 2017
                option(value="2018") 2018
          .filterBlock
            span Department:
            span
              select.form-control.deptlistselect#course-dept
        table.table
          thead
            th ID
            th Course
            th Level
            th Department
            th
            th
            th
            th Year
            th Enrolled
            th Vancancy
            th(colspan="3")
          tbody
      // /COURSE LIST

      // STUDENT LIST
      #studentList.listPanel
        .filter
          .actionBar
            a#addStudent(href="#", class="overlayLink", data-overlay="studentAdd")
              span(class="glyphicon glyphicon-plus")
              span Add Student
          .filterBlock
            span Year:
            select.form-control(id="student-course-year")
                option(value="all", selected="selected") All
                option(value="2016") 2016
                option(value="2017") 2017
                option(value="2018") 2018
          .filterBlock
            span Department:
            select.form-control.deptlistselect#student-course-dept
          .filterBlock
             span Student Name:
            .form-group
              span
                input#student-name.form-control(type='text', placeholder='Student Name', style="width:180px; float: left;")
              button#student-filter-trigger.btn.btn-default(type="button") Apply          



        table.table
          thead
            th ID
            th Student
            th DOB
            th 
            th 
            th Enrolled Course
            th Dept
            th Year
            th Enrolled Date
            th(colspan="3")
          tbody
      // /STUDENT LIST

      // DEPT LIST
      #deptList.listPanel
        .filter
          .actionBar
            a#addDept(href="#")
              span(class="glyphicon glyphicon-plus")
              span Add Department
        table.table
          thead
            th Department ID
            th Department
            th Loaction
            th No. of Courses
            th(colspan="3")
          tbody
      // /DEPT LIST



    // /WRAPPER
   
  // OVERLAY STUDENT ENROLLED LIST
  #studentEnrolled.overlay-black.overlay
    .overlay-black-box
      a.closeOverlay(href="#") 
        span(class="glyphicon glyphicon-remove-circle")
        span Close
      table.table
        thead
          th Student ID
          th Student Name
          th Enrolled Date
          th 
        tbody
  // /OVERLAY STUDENT ENROLLED LIST
  // ADD STUDENT ENROLLED LIST
  #studentAdd.overlay-black.overlay
    .overlay-black-box
      a.closeOverlay(href="#") 
        span(class="glyphicon glyphicon-remove-circle")
        span Close
      h3.newTitle Add New Student
      fieldset.add
        .form-group.row
          label.col-sm-2.col-form-label(for="studentID") Student ID:
          .col-sm-10
            input#studentID.form-control(type='text', placeholder='Student ID')
        .form-group.row
          label.col-sm-2.col-form-label(for="studentName") Student Name:
          .col-sm-10
            input#studentName.form-control(type='text', placeholder='Student Name')
        .form-group.row
          label.col-sm-2.col-form-label(for="studentDOB") Date of Birth:
          .col-sm-10
            input#studentDOB.form-control(type='text', placeholder='Date of Birth')
        .form-group.form-action
          button#btnAddStudent.btn.btn-primary Add Student
  // /ADD STUDENT ENROLLED LIST
   
  // Select STUDENT ENROLLED LIST
  #studentEnroll.overlay-black.overlay
    .overlay-black-box
      a.closeOverlay(href="#") 
        span(class="glyphicon glyphicon-remove-circle")
        span Close
      h3#enrollTitle Enroll for 
        span.courseID
        span -
        span.courseTitle
        br
        span.deptName
        span (
        span.year
        span )
      nav.navbar.navbar-default
        .container-fluid 
        fieldset.search#searchStudentForm.navbar-form.navbar-left
          .form-group
            span
              input#searchStudentID.form-control(type='text', placeholder='Student ID')
          .form-group
            span
              input#searchStudentName.form-control(type='text', placeholder='Student Name')
          .form-group
            button#btnSearchStudent.btn.btn-default Search

      #searchStudentResult
        table.table
          thead
            th Student ID
            th Student Name
            th DOB
            th 
          tbody  
  // /Select STUDENT ENROLLED LIST
  // ADD STUDENT ENROLLED LIST
  #courseAdd.overlay-black.overlay
    .overlay-black-box
      a.closeOverlay(href="#") 
        span(class="glyphicon glyphicon-remove-circle")
        span Close
      h3.newTitle Add New Course
      fieldset.add
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseID") Course ID:
          .col-sm-10
            input#newCourseID.form-control(type='text', placeholder='Course ID')
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseTitle") Course Title:
          .col-sm-10
            input#newCourseTitle.form-control(type='text', placeholder='Course Title')
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseLevel") Course Level:
          .col-sm-10
            input#newCourseLevel.form-control(type='text', placeholder='Course Level')
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseDept") Department:
          .col-sm-10
            select#newCourseDept.deptlistselect.form-control
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseYear") Year:
          .col-sm-10
            input#newCourseYear.form-control(type='text', placeholder='Course Year')
        .form-group.row
          label.col-sm-2.col-form-label(for="newCourseSize") Size:
          .col-sm-10
            input#newCourseSize.form-control(type='text', placeholder='Course Size')
        .form-group.form-action
          button#btnAddCourse.btn.btn-primary Add Course
  // /ADD STUDENT ENROLLED LIST
