ul(class="nav nav-tabs list-tabs")
  li(role="presentation" class="active")
    a#show-course-list(href="#", data-list-id="courseList") 
      span.glyphicon.glyphicon-blackboard
      span  Course
  li(role="presentation")
    a#show-student-list(href="#", data-list-id="studentList") 
      span.glyphicon.glyphicon-user
      span  Student
  li(role="presentation")
    a#show-dept-list(href="#", data-list-id="deptList") 
      span.glyphicon.glyphicon-briefcase
      span  Department