ul(class="nav nav-tabs list-tabs")
  li(role="presentation" class="active")
    a#show-course-list(href="#", data-list-id="courseList") Course List
  li(role="presentation")
    a#show-student-list(href="#", data-list-id="studentList") Student List
  li(role="presentation")
    a#show-dept-list(href="#", data-list-id="deptList") Department List