doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/course.js')
    script(src='/javascripts/student.js')
    script(src='/javascripts/dept.js')