// STUDENT LIST
#studentList.listPanel
  .filter
    .actionBar
      a#addStudent(href="#", class="overlayLink", data-overlay="studentAdd")
        span(class="glyphicon glyphicon-plus")
        span Add Student
    .filterBlock
      span Year:
      select.form-control(id="student-course-year")
          option(value="all", selected="selected") All
          option(value="2016") 2016
          option(value="2017") 2017
          option(value="2018") 2018
          option(value="2019") 2019
          option(value="2020") 2020
    .filterBlock
      span Department:
      select.form-control.deptlistselect#student-course-dept
    .filterBlock
       span Student Name:
      .form-group
        span
          input#student-name.form-control(type='text', placeholder='Student Name', style="width:180px; float: left;")
        button#student-filter-trigger.btn.btn-default(type="button") Apply          
  table.table
    thead
      th ID
      th Student
      th DOB
      th 
      th 
      th(colspan="2") Enrolled Course
      th Dept
      th Year
      th Enrolled Date
      th(colspan="3")
    tbody
// /STUDENT LIST