nav.navbar.navbar-default.nav-school
 .container
  .container-fluid
    .navbar-header 
      .brand-logo
        img(src="images/logo.png")
      h1= title
    .login-user
      span.glyphicon.glyphicon-user 
      span.username  Admin user  
      a(href="#") 
        span.glyphicon.glyphicon-cog
        span  Setting
      a(href="#") 
        span.glyphicon.glyphicon-log-out
        span  Logout