#wrapper {
  // padding-left:312px;
  // position:relative;
}
#studentList, #deptList {
  display: none;
}
.list-tabs {
  margin-bottom: 20px;
}

.filter {
  padding: 10px 0 20px;
  clear: both;
  height: 50px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #c6c2c1;
  .filterBlock {
    display: block;
    float: left;
    padding-right: 20px;
    span {
      padding-right: 10px;
    }
    button {
      margin: 0 10px;
    }
  }
}
.actionBar {
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 20px;
  height: 20px;
  border-right: 1px solid #c6c2c1;
  margin-right: 20px;
  a {
    span {
      padding-right: 5px;
    }
  }
  #deptList & {
    border-right: none;
  }
}

.overlay-black {
  display:none;
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
  zoom: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
  }
  
  .overlay-black-box {
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
    margin: 0 40px;
    width: 80%;
    min-height: 300px;
    

  }

  .closeOverlay {
    display: block;
    float: right;
    clear: both;
  }

  
}

/*.userList, .courseList {
  margin:0 0 30px 0;
  table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
    th {
      background:#EEE;
      font-weight:600;
      padding:10px 20px;
      text-align:center;
    }
    tbody {
      padding:0; margin:0;
      border-collapse:collapse;
      border-spacing:0px;
    }
    td {
      background:#FFF;
      padding:5px 10px;
      text-align:center;
    }
  }
}*/
#userInfo {
  width:250px;
  position:absolute;
  top:0; left:0;
}
#userInfo p {
  padding:15px;
  border:1px solid #CCC;
  background:rgba(80,120,255,0.05);
}

fieldset {
  border:0;
  padding:0; margin:0;
}